/* aligns the content of the page on the top left hand corner */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* makes the image full and cover the screen, removes the right side white space from the image */
body, html{
min-height: 100%;
width:100%;
height:100%;
margin:0;
padding:0;
overflow-x: hidden;
}

/* makes the image full and cover the screen, removes the right side white space from the image */
body, html{
min-height:100%;
width:100%;
height:100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
overflow-y: hidden;
}

/* adds the following features to the body of the document */
body{
  background-image: url("../images/backgroundImage.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

/* sets the background color of the menu-bar to black, gives it a maximum width and aligns it at the center */
.menu-bar{
  background: rgb(0,0,0);
  text-align: center;
  width:100%;
  background-size:cover;
  height:56px;
  position: absolute;
}

/* displays the contents of the list horizontally across the page,removes the list style and changes the color to yellow */
.menu-bar ul{
list-style:none;
color:yellow;
display: inline-flex;
}

/* adds the following features to menu-bar ul li contents*/
.menu-bar ul li{
width:270px;
padding:17px;
margin:1px;
}


/* the a href attribute adds a clickable effect over the list */
.menu-bar ul li a{
text-decoration: none;
color:yellow;
}

/* gives the menu-bar li list a green hover effect with the first item ('Animal farm documentary/A short story for kids') being active. */
.active, .menu-bar ul li:hover{
background: green;
border-radius: 5px;
width:270px;
height:54px;
}

/*stops the sub-menu-1 items from displaying under the menu-bar list */
.sub-menu-1{
display: none;
z-index: 99999;
}

/* positions the sub-menu-1 contents horizontally under the menu-bar list */
.menu-bar ul li:hover .sub-menu-1{
display:block;
position: absolute;
background-color:#494950;
margin-top: 19px;
margin-left:-17px;
width:270px;
border-radius: 5px;
}

/* positions the sub-menu-1 contents vertically under the menu-bar list */
.menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin:-0.180px;/* positions the sub-menu 2 contents directly by the side of sub-menu 1 */
  }

/* removes the green background, adds a white dotted line plus the following features to the sub-menu-1 list items */
.menu-bar ul li:hover .sub-menu-1 ul li{
width:270px;
padding:17px;
border-bottom: 2px solid #222;
background: transparent;
border-radius: 0px;
text-align: left;
}

/* removes the solid straight line from the last item in sub-menu-1 list */
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

/* changes the color of pointer upon hover */
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
color:brown;
}

/*prevents the content of sub-menu-2 from displaying */
.sub-menu-2{
display: none;
}

/* adds the following features to the sub-menu-2 list items */
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -36px;
    margin-left: 253px;
    border-radius: 5px;
    background-color:#494950;
  }

  /* adds the following features and positioning to the demo class*/
.demo{
position:absolute;
color:black;
background:silver;
font-family: sans-serif;
font-size: 15px;
top: 56px;
right:912px;
padding-top: 20px;

}

/* changes the h1 element color to brown and an underline with same color */
.demo h1{
  color:brown;
  text-decoration: underline;
}

#search{
  font-size:14px;
  font-weight: bold;
  height:2em;
}

/* adds the following features and positioning to the apple class */
.apple{
position: absolute;
color:orange
background:gold;
font-family: cursive;
top:460px;
}

img.resize{
width:450px;
height:350px;
position:absolute;
left:368px;
top:56px;
}

img.adjust{
width:462px;
height:300px;
position: absolute;
left:818px;
top:386px;
}

img.change{
width:500px;
height:330px;
position:absolute;
left:818px;
top:56px;
}

img.intro{
width:368px;
height:685px;
}

img.saltWater{
  width:450px;
  height:300px;
  position: absolute;
  left:368px;
  top:406px;
}

.submit{
  height:2.1em;
  position: absolute;
  left:291px;
  width:70px;
  background-color: black;
  color:green;
}

.submit:hover{
  color:brown;
}
